<app-bread-crumb
  [items]="[{ text: 'Lançamentos' }]"
></app-bread-crumb>

<!-- <app-page-header
  page-title="Lançamentos"
  button-text="+ Novo Lançamento"
  button-link="new"
  button-class="btn-success"
></app-page-header> -->

<div class="card">

  <!-- <form> -->
    <div class="card-body">

      <div class="form-row">

        <div class="col-md-12">
          <h1 class="h2 pl-2">
            Lançamentos
          </h1>
        </div>

        <!-- paid -->
        <div class="form-group col-md-2">
          <label for="paid">Pago</label>
          <div class="btn-group">
            <label class="btn btn-outline-info" >
              Pago
            </label>
            <label class="btn btn-outline-info" >
              Pendente
            </label>
          </div>
        </div>

        <!-- month -->
        <div class="form-group col-md-6">
          <label for="month">Mês</label>
          <select id="month" type="text" class="form-control" >
            <option value="null">Selecione um mês</option>
            <!-- <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option> -->
          </select>
        </div>

        <!-- year -->
        <div class="form-group col-md-4">
          <label for="year">Ano</label>
          <select id="year" type="text" class="form-control" >
            <option value="null">Selecione um ano</option>
            <!-- <option *ngFor="let year of years" [value]="year">{{ year }}</option> -->
          </select>
        </div>

        <div class="col-md-6 text-left">
          <a routerLink="new" class="btn" ngClass="btn btn-info">
            Filtrar
          </a>
        </div>

        <div class="col-md-6 text-right">
          <a routerLink="new" class="btn" ngClass="btn btn-success">
            Novo
          </a>
        </div>
      </div>

    </div>
  <!-- </form> -->
</div>


<nav class="text-center" aria-label="Barra de paginação">
  <ul class="pagination">
    <li class="page-item" *ngIf="links?.prev">
      <a class="page-link" (click)="loadPage(links.prev)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item" *ngIf="links?.next">
      <a class="page-link" (click)="loadPage(links.next)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<table class="table table-hover">
  <thead>
    <tr class="bg-dark text-light">
      <th>Lançamento</th>
      <th>Categoria</th>
      <th class="text-right">Valor R$</th>
      <th class="text-center">Açoes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of resources" >
      <td>
        <strong>{{ entry.provider.name }}</strong><br>
        <small class="text-sucess">{{ entry.date.toLocaleDateString() }} {{ entry.document ? ' - Doc: ' + entry.document : '' }} </small><br>
        <small *ngIf="entry.description" >{{ entry.description }}</small>
      </td>
      <td>
        {{ entry.category.name }}
      </td>
      <td class="text-right">
        <strong [class.text-success]="entry.type === 'REVENUE'" [class.text-danger]="entry.type === 'EXPENSE'">
          {{ entry.amount }}
        </strong>
        <br>
        <span class="badge badge-ligth">{{ entry.paidText }}</span>
      </td>
      <td class="text-center">
        <a [routerLink]="[entry._id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button class="btn btn-outline-danger btn-sm" (click)="setResourceSelected(entry)"
          data-toggle="modal" data-target="#dialogExcluirModal">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-danger float-right" (click)="loadPage(links.next)">Mais</button>

<!-- Modal -->
<div class="modal fade" id="dialogExcluirModal" tabindex="-1" role="dialog" aria-labelledby="dialogExcluirModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dialogExcluirModal">Excluir Lançamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir o item: {{ resourceSelected?.name || ''}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteResource()" data-dismiss="modal">Sim</button>
        <button type="button" class="btn btn-secondary" (click)="setResourceSelected()" data-dismiss="modal">Não</button>
      </div>
    </div>
  </div>
</div>

<!-- <pre>{{ entries | json }}</pre> -->
